
# IntelliJ project files
.idea
*.iml
out
gen

.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/uploads

bower_components
node_modules
